<div id="<%= dom_id event %>">
  <div>
    <strong>Name:</strong>
    <%= event.name %>
  </div>

  <div>
    <strong>Location:</strong>
    <%= event.location %>
  </div>

  <div>
    <strong>Event date:</strong>
    <%= event.event_date %>
  </div>

</div>
